// Colors
$color-black: #000000;
$color-white: #ffffff;

$color-mana-value: #ffffff;

$color-text-background: rgba(255, 255, 255, 0.75);
$color-border-overlay: rgba(0, 0, 0, 0.5);
$color-ability-trigger: rgba(94, 255, 0, 0.5);
$color-ability-activation-cost: rgba(0, 183, 255, 0.5);