{% macro card(data) -%}
    <div class="card">
        <div class="card-frame {{ data['card__typenames'] }}">
            <div class="card-frame-texture-container">
                {% for color_name in data['cost__colors'] %}
                    <div class="card-frame-texture" style="background-image: url('/static/images/card-textures/{{ color_name }}.png')"></div>
                {% endfor %}
            </div>
            <div class="main-box">
                <div class="top-box">
                    <div class="cost-box">{{ data['card__cost'] | safe }}</div>
                    <div class="title-box">
                        <div class="name-box">{{ data['card__name'] | safe }}</div>
                        <div class="tag-box">{{ data['card__tags'] | safe }}</div>
                    </div>
                </div>
                <div class="art-box">
                    <img class="art" src="{{ data['card__image_url'] }}">
                    <div class="type-box" style="background: {{ data['cost__gradient'] }}">{{ data['card__typeline'] }}</div>
                </div>
                <div class="text-box">{{ data['card__text'] | safe }}</div>
            </div>
            <div class="power-box">{{ data['card__power'] }}</div>
            <div class="channel-box">{{ data['card__channel_cost'] | safe }}</div>
        </div>
    </div>
{%- endmacro %}