@import 'imports/colors.scss';
@import 'imports/fonts.scss';
@import 'imports/mixins.scss';

// Card Dimensions
$card-width: 63mm;
$card-height: 88mm;
$card-border-color: $color-black;

// Standard measures
$card-border-radius: 2mm;
$card-frame-inset: 1.25mm;
$card-main-box-inset-top: 1mm;
$card-main-box-inset-right: 2mm;
$card-main-box-inset-bottom: 3.5mm;
$card-main-box-inset-left: 2mm;
$card-main-box-width: ($card-width - $card-frame-inset * 2 - $card-main-box-inset-left - $card-main-box-inset-right);
$card-main-box-height: ($card-height - $card-frame-inset * 2 - $card-main-box-inset-top - $card-main-box-inset-bottom);

$font-size-tags: 2.5mm;
$font-size-text: 3.5mm;
$font-size-name: 4mm;
$font-size-cost: 6mm;
$font-size-power: 6mm;

$card-small-pad: 0.5mm;


.card {
    width: $card-width;
    height: $card-height;
    border-radius: $card-border-radius;
    background-color: $card-border-color;
    box-sizing: border-box;
    position: relative;
    font-family: $font-default;
}


.card-frame {
    position: absolute;
    left: $card-frame-inset;
    right: $card-frame-inset;
    top: $card-frame-inset;
    bottom: $card-frame-inset;
    border-radius: $card-frame-inset;
}

.card-frame-overlay {
    background-image: url("/static/images/0011.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    -webkit-filter: grayscale(100%);
}

.mana {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: $color-mana-value;
    width: 1em;
    height: 1em;
    aspect-ratio: 1 / 1;
    font-style: normal !important;
    font-weight: bold;
    border: 0.1em solid $color-mana-value;
    box-sizing: border-box;
}

.mana-value {
    vertical-align: top;
    line-height: 1em;
    font-size: 0.95em;
    font-family: $font-display;
}

.cost-box .mana, .channel-box .mana {
    font-size: $font-size-cost;
    vertical-align: text-top;
}


.main-box {
    // display: flex;
    // flex-direction: column;
    margin-top: $card-main-box-inset-top;
    margin-left: $card-main-box-inset-left;
    margin-right: $card-main-box-inset-right;
    margin-bottom: $card-main-box-inset-bottom;
    width: $card-main-box-width;
    height: $card-main-box-height;

    &>* {
        width: 100%;
    }
}

.top-box {
    background-color: $color-text-background;
    display: flex;
    flex-direction: row;
}

.cost-box {
    font-size: $font-size-cost;
    border-bottom-right-radius: 50%;
    // padding-bottom: $card-small-pad;
    padding-right: $card-small-pad;
}

.title-box {
    padding-left: $card-small-pad;
}

.name-box {
    font-size: $font-size-name;
    font-family: $font-display;
    font-weight: bold;
    height: 1em;
}

.tag-box {
    font-size: $font-size-tags;
    font-family: $font-display;
    font-weight: bold;
    height: 1em;
}

.art-box {
    // aspect-ratio: 4 / 3;
    height: ($card-main-box-width * 3 / 4);
    min-height: ($card-main-box-width * 3 / 4);
    margin: auto;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.art {
    width: 100%;
}

.type-box {
    font-size: $font-size-text;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 0;
    padding: 0 ($card-small-pad * 3);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 1.1em;
    color: $color-black;
    font-family: $font-display;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0.8;
    overflow: visible;
    transform: translate(-50%, 0%);
}

.text-box {
    font-size: $font-size-text;
    background-color: $color-text-background;
    // line-height: 1.2em;
    box-sizing: border-box;
    padding: 1mm;
    height: 30mm;
}

.power-box {
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    padding: 0 ($card-small-pad * 3);
    height: 1em;
    font-size: $font-size-power;
    border-top-right-radius: 50%;
    font-family: $font-display;

    &:empty {
        display: none;
    }

    @include stroke();
}

.channel-box {
    transform: rotate(180deg) translate(50%, 0%);
    position: absolute;
    bottom: 0;
    left: 50%;
}

// Other elements
.keyword-display {
    font-weight: bold;
}

.keyword-reminder {
    font-style: italic;
}

.ability-trigger {
    background-color: rgba(102, 255, 140, 0.75);

    &::after {
        content: ":";
    }
}
.ability-activation-cost {
    background-color: rgba(102, 181, 255, 0.75);

    &::after {
        content: "►";
    }
}

br {
    // margin-bottom: 0.2em;
    display: block;
    content: "";
    margin-top: 0.3em;
}

li {
    margin-left: 0.3em;
    &::before {
        content: "- ";
    }
}